version: "3.3"

networks:
  cps:
    external: false

services:
  
  mqttbroker:
    image: eclipse-mosquitto
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    networks:
      cps:
        aliases:
          - mqttbroker

  tickgen:
    build: "./tickgen"
    environment:
      - MQTT_ADDR=mqttbroker
    networks:
      - cps

  sensor1:
    build: "./chaos_sensor"
    environment:
      - MQTT_ADDR=mqttbroker
      - Sensor_ID=s1
    networks:
      - cps

  sensor2:
    build: "./chaos_sensor"
    environment:
      - MQTT_ADDR=mqttbroker
      - Sensor_ID=s2
    networks:
      - cps
  
  dashboard:
    build: "./dashboard"
    environment:
      - MQTT_ADDR=mqttbroker
    ports:
      - "1880:1880"
    networks:
      - cps